<div class="container mt-100 mb-100">
<div class="jumbotron">
<% if current_user%>
  <h1 class="display-4">Hello, <%= @user %>!</h1>
  <p class="lead">
This application will allow you to find friends and share your photos with them.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Go to your profile ðŸ", current_user, class:"btn-c" %>
  </p>
  <% else %>
  <h1 class="display-4">Hello, my friend!</h1>
  <p class="lead">
This application will allow you to find friends and share your photos with them.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Sign up now ðŸ“', new_user_registration_path, class:"btn-c"%>
  </p>
  <p>Join us quickly.</p>
  <% end %>
</div>
</div>