<div class="container mt-100 mb-100">
<div class="jumbotron">
<% if current_user%>
  <h1 class="display-4">Hello, <%= @user %>!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to "Go to your profile ðŸ", current_user, class:"btn-c" %>
  </p>
  <% else %>
  <h1 class="display-4">Hello, my friend!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to 'Sign up now ðŸ“', new_user_registration_path, class:"btn-c"%>
  </p>
  <% end %>
</div>
</div>