<footer>
<div class="container">
<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a> 
</small>
<nav> 
<ul>
<li><%= link_to "Contact", contact_path %></li>
</ul> 
</nav>
</div>
</footer>
